.navigation_header {
  width: 100%;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .nav_links {
    .active_tab {
      border-bottom: 2px solid;
      padding: 25px 0px;
      color: #1877f2;
      width: 100px;
    }
    ul {
      list-style: none;
      display: flex;
      align-items: center;

      a {
        font-size: 1.1rem;
        font-weight: 500;
        margin: 0 15px;

        color: #554b4b;
        text-decoration: none;
      }
    }
  }
  .action_links {
    // width: 100%;
    display: flex;

    & :first-child {
      color: black;
      background-color: rgb(228, 227, 227);

      span {
        margin: 0 5px;
        background: none;

        #friend {
          color: black;
          background-color: inherit !important;
        }
      }
    }
    & :last-child {
      color: white;
      //   background-color: #0d6eec;
      background-color: #1877f2;
      text-align: center;
      span {
        margin: 0 5px;
      }
    }
    .custom_button {
      height: 2rem;
      border-radius: 5px;
      margin: 0 6px;
      width: 125px;

      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
