$color: rgb(114, 113, 113);
$font1_1: 1.1rem;
$font1_2: 1.2rem;

.title {
  font-weight: bold;
  font-size: 1.3rem;
}
.home,
.followers {
  color: $color;
  font-size: $font1_1;
  span {
    font-size: $font1_2;
    color: black;
  }
}
.relationship {
  font-size: $font1_1;
  color: $color;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(228, 225, 225);
  height: 35px;
  border-radius: 5px;
  // padding: 10px 100px;
  width: 100%;
}
