.friends {
  .chatBox {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    right: 50px;
    width: auto;
    bottom: 0;
    height: 65%;
  }
  ul {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    li {
      margin: 20px 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px;

      transition: 0.2s;
      &:hover {
        background-color: rgba(228, 227, 227, 0.699);
        border-radius: 5px;
      }
      &::selection {
        user-select: none;
      }
      img {
        height: 27px;
        border-radius: 50%;
        width: 27px;
        margin-right: 12px;
      }
    }
  }
}
